#main-query {
    padding: 1rem;
}

#cve-tools {
    padding: 1rem;
}

#review-cards {
    overflow-y: scroll;
    height: 33rem; /* TODO make this more dynamic */
}

.review-card {
    margin: 1rem;
}
