.file {
background-color: white;
float: left;
}
.file-text {
  background-color: pink;
  padding-left: 14px;
  overflow: auto;

}

.diff-card {
  width: 100%;
  margin: 1rem;
}

.diff-card-body {
  padding: 0;
}