#sidebar {
    height: 100%;
    width: 30%;
    position: fixed;

    display: flex;
    flex-direction: column;

    /* Hidden initially */
    margin-left: -30%;

    /* Above everything */
    z-index: 999;

    /* Top left corner */
    top: 0;
    left: 0;

    overflow-x: hidden;

    /* Animate the transition */
    transition: all 0.2s ease-in-out;
}

#sidebar.active {
    margin-left: 0;
}

#sidebar-controls {
    position: sticky;
    top: 0;

    z-index: 1001;

    padding: 1rem;

    display: flex;
    width: 100%;
}

.sidebar-control + .sidebar-control {
    margin-left: 0.5rem;
}

#sidebar-open {
    position: fixed;
    top: 1rem;
    left: 1rem;

    text-align: center;
}

#sidebar-open:hover {
    color: white;
}

#sidebar-close {
    margin-left: auto;
}

#sidebar-close:hover {
    color: white;
}

#sidebar-content {
    /* Space for the sidebar-query */
    padding-bottom: 4em; /* A bit of a hack but there's no better way */

    background-color: white;

    flex: 1;

    z-index: 1000;
}

#sidebar-query{
    position: -webkit-sticky;
    position: sticky;
    z-index: 1001;
    /* position: fixed; */
    bottom: 0;
    width: 100%;

    padding: 1rem;

    display: flex;
}

#cve-input {
    flex: 1;
}

#overlay {
    /* Full screen */
    position: fixed;
    width: 100%;
    height: 100%;

    /* Transparent black */
    background: rgba(0, 0, 0, 0.7);

    /* Hidden */
    display: none;
    opacity: 0;

    /* Above everything except sidebar*/
    z-index: 998;

    /* TODO animate the overlay!!! */
}

/* display overlay when it has the .active class */
#overlay.active {
    display: block;
    opacity: 1;
}

/* Trick to make the sidebar not animate on pageload */
.notransition {
    transition: none !important;
}
