<!DOCTYPE html>

<head>
    <title>Authentication</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class = "jumbotron">
        <h1>Predict Authentication Page</h1>
    </div>
    
    <form>
        <div class="form-group">
            <label for="username">Username:</label>
            <input class="form-control" id="username" placeholder="some_username_here">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="password">
        </div>
        <a href ="registration.html">No account? Click here to register!</a>
        <br>
        <button type="submit" class="btn btn-primary">Login!</button>
    </form>

</body>