<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <!-- Basic Bootstrap TODO get a static copy -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
    <!-- Cute icons TODO remove dependency -->
    <script src="https://kit.fontawesome.com/7d7d079415.js" crossorigin="anonymous"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% endblock %}
    <title> Predict | {% block title %}{% endblock %}</title>
</head>

<body>
    {% block body %}
    {% endblock %}
</body>
