{% extends "sidebar_cve.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='diff.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='blame.css') }}">
{% endblock %}

{% block title %}{{ github_data["file_name"] }}{% endblock %}
{% block content %}

    
    <div id="header">
        <h1>{{ github_data["file_name"] }}</h1>
        <select class="form-control">
            <option value="" disabled selected>Relation to Vulnerability</option>
            <option value="fix"> Fixes Vulnerability</option>
            <option value="intro"> Introduces Vulnerability</option>
        </select>
    </div>

    <div id="blame" class="content">
        {% include "blame_diff.html" %}
    </div>
{% endblock%}