{% extends "sidebar_cve.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/diff.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/blame.css') }}">
{% endblock %}

{% block title %}{% if github_data is not none %}{{ github_data["file_name"] }}{% else %}Blame Not Found{% endif %}{% endblock %}

{% block content %}
{% if github_data is not none %}
    <div id="header" class="bg-light">
        <div id="file-info">
            <a class="file-name" href="{{ url_for('main.info_page', cve_id=cve_data['id'], repo_user=github_data['repo_user'], repo_name=github_data['repo_name'], commit=github_data['hash'])  }}#file-{{ hash(github_data['file_name']) }}">{{ github_data["file_name"] }}</a>
            <div id="commit-meta">
                <span class="repository-user">{{ github_data["repo_user"] }}</span>
                /
                <span class="repository-name">{{ github_data["repo_name"] }}</span>
                @
                <a class="commit-hash" href="{{ url_for('main.info_page', cve_id=cve_data['id'], repo_user=github_data['repo_user'], repo_name=github_data['repo_name'], commit=github_data['hash'])  }}">{{ github_data["hash"] }}</a>
            </div>
        </div>
        <div id="header-controls">
            <a class="file-btn" title="This change fixes the vulnerability" onclick="fixesVulnerability('{{ github_data['repo_user'] }}', '{{ github_data['repo_name'] }}', '{{ github_data['file_name'] }}', '{{ github_data['hash'] }}')">
                <!-- Fixes Vulnerability --> {{ svg("check", "text-success") }}
            </a>
            <a class="file-btn" title="This change introduces the vulnerability" onclick="introducesVulnerability('{{ github_data['repo_user'] }}', '{{ github_data['repo_name'] }}', '{{ github_data['file_name'] }}', '{{ github_data['hash'] }}')">
                <!-- Introduces Vulnerability --> {{ svg("x", "text-danger") }}
            </a>
            <a data-toggle="dropdown" class="file-btn">
                {{ svg("kebab-horizontal") }}
            </a>
            <div class="dropdown-menu">
                {% if diff_enabled %}
                    <a class="dropdown-item" href="{{ url_for('main.blame_page', cve_id=cve_data['id'], repo_user=github_data['repo_user'], repo_name=github_data['repo_name'], commit=github_data['hash'], file_name=github_data['file_name']) }}">
                        {{ svg("diff") }} Disable Diff
                    </a>
                {% else %}
                    <a class="dropdown-item" href="{{ url_for('main.blame_page', cve_id=cve_data['id'], repo_user=github_data['repo_user'], repo_name=github_data['repo_name'], commit=github_data['hash'], file_name=github_data['file_name'], diff=True) }}">
                        {{ svg("diff") }} Enable Diff
                    </a>
                {% endif %}
                <a class="dropdown-item" href="{{ github_data['github_link'] }}">{{ svg("mark-github") }} View on GitHub</a>
            </div>
        </div>
    </div>

    <div id="blame">
        {% include "blame_diff.html" %}
    </div>
{% else %}
<center>
    <h1>Blame Not Found</h1>
</center>
{% endif %}
{% endblock%}