{% extends "cve_sidebar.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='info.css') }}">

{% endblock %}

{% block title %}Git Commit Info{% endblock %}
{% block content %}
<div style="text-align: center;">
  <div style="display: inline-block; text-align: left;">
    <h1>{{ github_data["commit_hash"] }}</h1>
    <pre>{{ github_data["commit_description"] }}</pre>
  </div>
</div>
<! making grid system to hold files>
<div class="container">
  <div class="row">
    {% for file in github_data["files"].keys() %}
    <div class="col-xl-6">
      <div>
        <a href="{{ github_data["files"][file].get("file_link") }}"><b>{{ file }}</b></a>
        <a href="{{ github_data["files"][file].get("history_link") }}">HISTORY</a>
        <a href="{{ github_data["files"][file].get("blame_link") }}">BLAME</a>
        <p>
            Diff:
        </p>
      </div>

      <div class="overflow-auto" style="height: 400px;">
        <ul>
          {% for diff_line in github_data["files"][file].get("sorted_line_numbers") %}
              <li>
              <div>
                <! want to represent altered code lines with a more readily interpreted color scheme currently expressed
                  as red## | blue * being the deleted line and red* | blue## as the changed line>
                  <! create variables for line data>
                  {% set oldLine = github_data["files"][file]["inline_diff"][diff_line]["old_text_line_number"] %}
                  {% set newLine = github_data["files"][file]["inline_diff"][diff_line]["new_text_line_number"] %}
                  {% set text = github_data["files"][file]["inline_diff"][diff_line]["text"]%}
                  <span style="color:red; width: 20%" align="left">
                      {{ oldLine }} |
                  </span>
                  <span style="color:blue; width: 20%" align="left">
                      {{ newLine }}
                  </span>

                  {% if oldLine == "*" %}
                    <span class="pseudolink" style="color: green;" onclick="location= '{{ github_data["files"][file].get("blame_link") }}/?line={{newLine}}'">
                      {{ text }}
                    </span>
                  {% elif newLine == "*" %}
                    <span class="pseudolink" style="color: orange;">
                      {{ text }}
                    </span>
                  {% else %}
                    <span class="pseudolink" >
                      {{ text }}
                    </span>
                  {% endif %}
            </div>
            </li>
          {% endfor %}
        </ul>

      </div>
      <br/>
    </div>
   {% endfor %}
 </div>
</div>
{% endblock %}
