{% extends "base.html" %}

{% block head %}
{{ super() }}
<title>Conflict Resolution</title>
<!-- TODO!!! Delete This, it's already in the base template. -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}
{% block body%}
<center>
  <h1>
    Conflict Resolution
  </h1>
</center>
<a href="dashboard.html" class="btn btn-primary" role="button">Dashboard</a>
<hr>
<div class="container">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>CVE ID</th>
        <th>User</th>
        <th>Fix Commit</th>
        <th>%</th>
        <th>Fix File</th>
        <th>%</th>
	      <th>Intro Commit</th>
        <th>%</th>
	      <th>Intro File</th>
        <th>%</th>
      </tr>
    </thead>
    <tbody>
      <!-- TODO: Populate table with entries -->
      {% for entry in entries %}
            <!-- TODO Add entry to html table -->
            {% if entry[1] == current_user %}
              <tr class="table-primary">
            {% else %}
              <tr>
            {% endif %}
              <td>{{entry[0]}}</td>
              <td>{{entry[1]}}</td>
              <td><a href={{entry[10]}}>{{entry[2]}}</td>
              {% if entry[3] == "Match" %}
                <td class="table-success">{{entry[3]}}</td>
              {% elif entry[3] == "Conflict" %}
                <td class="table-danger">{{entry[3]}}</td>
              {% else %}
                <td>{{entry[3]}}</td>
              {% endif %}
              <td><a href={{entry[11]}}>{{entry[4]}}</a></td>
              {% if entry[5] == "Match" %}
                <td class="table-success">{{entry[5]}}</td>
              {% elif entry[5] == "Conflict" %}
                <td class="table-danger">{{entry[5]}}</td>
              {% else %}
                <td>{{entry[5]}}</td>
              {% endif %}
    	        <td><a href={{entry[12]}}>{{entry[6]}}</td>
              {% if entry[7] == "Match" %}
                <td class="table-success">{{entry[7]}}</td>
              {% elif entry[7] == "Conflict" %}
                <td class="table-danger">{{entry[7]}}</td>
              {% else %}
                <td>{{entry[7]}}</td>
              {% endif %}
    	        <td><a href={{entry[13]}}>{{entry[8]}}</a></td>
              {% if entry[9] == "Match" %}
                <td class="table-success">{{entry[9]}}</td>
              {% elif entry[9] == "Conflict" %}
                <td class="table-danger">{{entry[9]}}</td>
              {% else %}
                <td>{{entry[9]}}</td>
              {% endif %}
            </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock%}
