<!DOCTYPE html>
<head>
    <title>Hello There</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
    <script type="text/javascript">
        function goto_cve() {
            if (typeof(Storage) !== "undefined") {
                localStorage.setItem("nav", "open")
            }
            
            window.location.href = "cve/"+document.getElementById("cve_input").value
            // Return false to avoid the real form submission
            return false
        }

        window.onload = function() {
            document.getElementById("cve_query").onsubmit = goto_cve
        }
    </script>
</head>
<h2 class="header">
    CVE Assistance System
</h2>
<div>
    <center>
        <form id="cve_query">
            <label for="cve_input">CVE ID:</label>
            <input type="text" id="cve_input">
            <input type="submit" value="Analyze CVE">
        </form>
    </center>
</div>