{% extends "base.html" %}

{% block head %}
{{ super() }}
<title>{{ cve_id }}</title>
{% endblock %}

{% block body %}
<!-- Get this outta here -->
<style>
#sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color: white;
    background-color: black;
    overflow-x: hidden;
}
.float{
    position:fixed;
    top:40px;
    left:40px;
    text-align:center;
}
#content{
    max-width: 60rem;
    margin: 0 auto;
}
</style>

<div id="sidebar">
    <a onclick="closeNav()">X</a>
    <h1>{{ cve_id }}</h1>
    <p>{{ cve_desc }}</p>
    <ul>
    {% for link in cve_links %}
        <li>
            <a href={{ link }}>
                {{ link }}
            </a>
        </li>
    {% endfor %}
    </ul>
</div>

<!-- Get these outta here -->
<script>
    function openNav() {
        document.getElementById("sidebar").style.width = "30%";
        if (typeof(Storage) !== "undefined") {
            localStorage.setItem("nav", "open")
        }
    }
    
    function closeNav() {
        document.getElementById("sidebar").style.width = "0";
        if (typeof(Storage) !== "undefined") {
            localStorage.setItem("nav", "closed")
        }
    }

    if (typeof(Storage) !== "undefined") {
        if (localStorage.getItem("nav") === "open") {
            openNav()
        }
    }
</script>

<a onclick="openNav()" class="float"> -> </a>

<div id="content">
    {% block content %}
    {% endblock %}
</div>
{% endblock %}