{% extends "base.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='cve_query.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='sidebar.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sidebar.css') }}">
{% endblock %}

{% block title %} {{ cve_data["id"] }} {% endblock %}

{% block body %}
<!-- Actual sidebar -->
<div id="sidebar" class="bg-light">
    <div id="sidebar-controls">
        <a class="sidebar-control btn btn-outline-dark" role="button" href="{{ url_for("dashboard") }}"> <i class="fas fa-home"></i> Dashboard </a>
        <input id="cve-input" class="sidebar-control" type="text" placeholder="CVE ID">
        <a class="sidebar-control btn btn-outline-dark" role="button" onclick="toggleSidebar()"> <i class="fas fa-arrow-left"></i> </a>
    </div>

    <div id="sidebar-content">     
        <h1>{{ cve_data["id"] }}</h1>
        
        <p>{{ cve_data["desc"] }}</p>

        {% if cve_data["git_links"]|length > 0 %}
            <h3>Git Links</h3> 
            <ul>
            {% for normal, converted in cve_data["git_links"] %}
                <li>
                    <a href={{ converted }}>
                        {{ normal }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}

        {% if cve_data["normal_links"]|length > 0 %}
            <h3>Non-Git Links</h3>
            <ul>
            {% for link in cve_data["normal_links"] %}
                <li>
                    <a href={{ link }}>
                        {{ link }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>

<a onclick="toggleSidebar()" class="btn btn-outline-dark" id="sidebar-open" role="button"> <i class="fas fa-arrow-right"></i> </a>

<!-- Dark overlay -->
<div id="overlay"></div>

<div id="content">
    {% block content %}
    {% endblock %}
</div>
{% endblock %}