<!DOCTYPE html>
<html lang="en" style="height: 100%">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
    </head>
    <body style="height: 100%;">
        <iframe name="submit_pane" style="display: none;"></iframe>
        <h1 class="header">
            CVE page for CVE: {{ context.cve_number }}
        </h1>
        <div class="outsideDiv">
            <div class="descriptionDiv">
                <h2>
                    CVE Description:
                </h2>
                <div class="descriptionDivText">
                    <p>
                        {{ context.cve_description }}
                    </p>
                </div>

            </div>
            <div id=mainBody class="mainbodyDiv">
                <button onclick="display_links()">Show CVE Links</button>
                <br>
                <div id="hiddenLinksDiv" class="hiddenLinksDiv">
                    <div class="slideOutPanel">
                        <h3 class="cvePageHeader">
                            <a href={{ context.cve_page_link }}>
                                Collection of useful items from CVE Page
                            </a>
                        </h3>
                        <div>
                            <div class="cvePageLinkDiv">
                                <h4 class="cveRefLinksTitle">
                                    Reference Links
                                </h4>
                                <ul>
                                    {% for link_element in context.cve_links %}
                                        <li>
                                            <a href={{ link_element }}>
                                                {{ link_element }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {#TODO: Add metrics tab#}
                </div>
                <div class="panesDivInactive" id="panesDiv">
                    <div class="commitInfoSelectionDiv">
                        <div class="tabButtonDiv">
                            {% for commit_entry in context.data.commit_entries %}
                                <div>
                                    <button class="commitEntryDivSelector" onclick="activate_tab({{ context.data.commit_entries.get(commit_entry).get('generated_id') }})">
                                        {{commit_entry}}
                                    </button>
                                    <input type="text" placeholder="Brief Notes">
                                </div>

                            {% endfor %}
                        </div>
                        <div style="height: 100%">
                            {% for commit_entry in context.data.commit_entries %}
                                <div class="commitEntryDivInactive" id = {{ context.data.commit_entries.get(commit_entry).get('generated_id') }}>
                                    <div>
                                        <h3>
                                            Viewing Commit #<a href={{ commit_entry }}>{{ commit_entry.split("/")[-1] }}</a>
                                        </h3>
                                        <h4>
                                            Description:
                                        </h4>
                                        <p class="commitDescriptionText">
                                            {{ context.data.commit_entries.get(commit_entry).get("commit_description") }}
                                        </p>
                                        <textarea class="notesArea">
                                            "Write any notes you want to take in this area
                                        </textarea>
                                    </div>
                                    <div style="height: 100%">
                                        <div id="fileTabListDiv">
                                            {% for file in context.data.commit_entries.get(commit_entry).get('files') %}
                                                 <div>
                                                    <button class="fileDivSelector" onclick="activate_file_tab('{{ context.data.commit_entries.get(commit_entry).get('generated_id') }}_{{file["file_name"]}}')">
                                                        {{file["file_name"]}}
                                                    </button>
                                                    <input type="text" placeholder="Brief Notes">
                                                </div>
                                            {% endfor %}
                                        </div>

                                        {%  for file in context.data.commit_entries.get(commit_entry).get('files')%}
                                            <div id = '{{ context.data.commit_entries.get(commit_entry).get('generated_id') }}_{{file["file_name"]}}' class="fileDivInactive">
                                                <div>
                                                    <a href="{{ file["file_link"]}}">File Link</a>
                                                </div>

                                                <div class="leftPaneDiv">
                                                    <p>
                                                        {{ file["git_history_link"]}}
                                                    </p>
                                                </div>
                                                <div class="dividerDiv">

                                                </div>
                                                <div class="rightPaneDiv">
                                                    <p>
                                                        {{ file["git_blame_link"] }}
                                                    </p>
                                                    <form action="/open_selenium/'{{ file["git_blame_link"].replace("/","<>")}}'" target="submit_pane">
                                                        <input type="submit" value="Open Page" >
                                                    </form>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>


                                </div>
                            {% endfor %}
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </body>
    <script>
        var tab_list =[
            {% for commit in context.data.commit_entries %}
                '{{ context.data.commit_entries.get(commit).get('generated_id')}}',
            {% endfor %}
        ];
        function display_links() {
            document.getElementById("hiddenLinksDiv").classList.toggle("hiddenLinksDivActive");
            document.getElementById("panesDiv").classList.toggle("panesDivActive");
        }
        function activate_tab(id_str) {
            var index = 0;
            for(index; index < tab_list.length; index++){
                document.getElementById(tab_list[index]).classList.remove("commitEntryDivActive")
            }
            document.getElementById(id_str).classList.add("commitEntryDivActive")
        }
        function activate_file_tab(id_str) {
            var active_files = document.getElementsByClassName("fileDivActive");
            console.log(active_files);
            var index = 0;
            for(index; index <active_files.length; index=index + 1){
                console.log(index);
                active_files[index].classList.add("fileDivInactive");
                active_files[index].classList.remove("fileDivActive");
            }
            document.getElementById(id_str).classList.add("fileDivActive");
            document.getElementById(id_str).classList.remove("fileDivInactive");
        }
        activate_tab(tab_list[0])
    </script>
</html>