{% extends "base.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='cve_query.js') }}"></script>
<title>Dashboard</title>
{% endblock %}

{% block body %}

<div class="text-center">
    <h2 class="header">
        CVE Assistance System
    </h2>
    <form id="cve-query" onsubmit="goto_cve()">
        <label for="cve-input">CVE ID:</label>
        <input type="text" id="cve_input">
        <input type="submit" value="Analyze CVE">
    </form>
</div>
{% endblock %}