{% extends "base.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='cve_query.js') }}"></script>
<title>Dashboard</title>
{% endblock %}

{% block body %}

<div class="container">
    <h2 class="page-header">
        CVE Assistance System
    </h2>
    <form id="cve-query" onsubmit="return goto_cve()">
        <div class="input-group">
            <input type="text" id="cve-input" class="form-control" placeholder="CVE ID">
            <div class="input-group-append">
                <input class="btn btn-outline-primary" type="submit" value="Analyze">
            </div>
        </div>
    </form>
</div>
{% endblock %}