<table class="diff-body">
{% for group in groups %}
    <tr class="line sep">
        <td class="line-num sep">...</td>
        <td class="line-num sep">...</td>
        <td class="code sep">@@ -{{ group["diff"][0][1]+group["old_start"] }},{{ group["diff"][-1][2] - group["diff"][0][1] }} +{{ group["diff"][0][3]+group["new_start"] }},{{ group["diff"][-1][4] - group["diff"][0][3] }} @@ </td>
    </tr>
    {% for opcode, i1, i2, j1, j2 in group["diff"] %}
        {% if opcode == "equal" %}
            {% for offset in range(j2 - j1) %}
                <tr class="line equal">
                    <td class="line-num old">{{ i1 + offset + group["old_start"] }}</td> {# Old Line Number #}
                    <td class="line-num new">{{ j1 + offset + group["new_start"] }}</td> {# New Line Number #}
                    <td class="code equal"><span class="highlight">{{ group["new_code"][j1 + offset]|safe }}</span> {# The code itself #}
                        <a class="blame-line" href="{{ file['blame_link'] }}#L{{ j1 + offset + group['new_start'] }}">
                            Blame <i class="fas fa-arrow-right"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% elif opcode == "insert" %}
            {% for line in range(j1, j2) %}
                <tr class="line insert">
                    <td class="line-num old"></td> {# Old Line Number is Blank #}
                    <td class="line-num new">{{ line+group["new_start"] }}</td> {# New Line Number #}
                    <td class="code insert"><span class="highlight">{{ group["new_code"][line]|safe }}</span> {# The code itself #}
                        <a class="blame-line" href="{{ file['blame_link'] }}#L{{ line+group["new_start"] }}">
                            Blame <i class="fas fa-arrow-right"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% elif opcode == "delete" %}
            {% for line in range(i1, i2) %}
                <tr class="line delete">
                    <td class="line-num old">{{ line+group["old_start"] }}</td> {# Old Line Number #}
                    <td class="line-num new"></td> {# New Line Number is Blank #}
                    <td class="code delete"><span class="highlight">{{ group["old_code"][line]|safe }}</span>
                    </td> {# Code itself #}
                </tr>
            {% endfor %}
        {% elif opcode == "replace" %}
            {% for line in range(j1, j2) %}
                <tr class="line insert">
                    <td class="line-num old"></td> {# Old Line Number is Blank #}
                    <td class="line-num new">{{ line+group["new_start"] }}</td> {# New Line Number #}
                    <td class="code insert"><span class="highlight">{{ group["new_code"][line]|safe }}</span> {# The code itself #}
                        <a class="blame-line" href="{{ file['blame_link'] }}#L{{ line+group["new_start"] }}">
                            Blame <i class="fas fa-arrow-right"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            {% for line in range(i1, i2) %}
                <tr class="line delete">
                    <td class="line-num old">{{ line+group["old_start"] }}</td> {# Old Line Number #}
                    <td class="line-num new"></td> {# New Line Number is Blank #}
                    <td class="code delete"><span class="highlight">{{ group["old_code"][line]|safe }}</span>
                    </td> {# Code itself #}
                </tr>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endfor %}
</table>
