{% extends "sidebar_cve.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/diff.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/info.css') }}">
{% endblock %}

{% block title %}{% if github_data is not none %}{{ github_data["title"] }}{% else %}Commit Not Found{% endif %}{% endblock %}

{% block content %}
{% if github_data is not none %}
<div id="commit-info">
    <div id="commit-title">{{ github_data["title"] }}</div>
    <div id="commit-description">{{ github_data["desc"] }}</div>
    <hr>
    <div id="commit-metadata">
        <div id="commit-authors">Authored by: {{ github_data["authors"]|join(", ") }}</div>
        <div id="commit-hash">commit {{ github_data["hash"] }}</div>
    </div>
</div>

<div id="files">
    {% for file in github_data["files"] %}
    <div id="file-{{ hash(file['path']) }}" class="card file">
        <div class="card-header file-header">
            <a class="file-name" href="{{ file['blame_link'] }}" target="_blank">{{ file["path"] }}</a>
            <div class="file-controls">
                <a class="file-btn" title="This change fixes the vulnerability" onclick="fixesVulnerability('{{ github_data['repo_user'] }}', '{{ github_data['repo_name'] }}', '{{ file['path'] }}', '{{ github_data['hash'] }}')">
                    <!-- Fixes Vulnerability --> {{ svg("check", "text-success") }}
                </a>

                <a class="file-btn" title="This change introduces the vulnerability" onclick="introducesVulnerability('{{ github_data['repo_user'] }}', '{{ github_data['repo_name'] }}', '{{ file['path'] }}', '{{ github_data['hash'] }}')">
                    <!-- Introduces Vulnerability --> {{ svg("x", "text-danger") }}
                </a>

                <a data-toggle="dropdown" class="file-btn">
                    {{ svg("kebab-horizontal") }}
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ file['github_link'] }}">{{ svg("mark-github") }} View on GitHub</a>
                </div>
            </div>
        </div>

        <div class="card-body diff-container">
        {% if not file["error"] %}
            {% with groups = file["groups"] %}
            {% include "info_diff.html" %}
            {% endwith %}
        {% else %}
            <div class="diff-error">
                File diff too large, <a href="{{ file['github_link'] }}">view it on GitHub</a>
            </div>
        {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<center>
    <h1>Commit Not Found</h1>
</center>
{% endif %}
{% endblock %}