<div class="card user-label-group">
    <div class="card-header user-label-group-header">
        <input type="text" class="hidden-input repo-input repo-user" placeholder="Repository Username" value="{{ repo_user }}" autocomplete="off">
        <span class="hidden-input-sep">/</span>
        <input type="text" class="hidden-input repo-input repo-name" placeholder="Repository Name" value="{{ repo_name }}" autocomplete="off">
        <a class="remove-group" onclick="removeGroup(this)">{{ svg("x") }}</a>
    </div>
    <ul class="list-group list-group-flush user-label-group-list">
        {% for label in labels %}
        <li class="list-group-item user-label">
            {% include "label.html" %}
        </li>
        {% endfor %}
    </ul>
    <button class="add-label" onclick="addLabel(this)">{{ svg("plus") }} New Label</button>
</div>