{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block head%}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='auth.css') }}">
    
    <script type="text/javascript" src="{{ url_for('static', filename='register.js') }}"></script>
{% endblock %}


{% block body %}


<div class="container">
    
    <div class="jumbotron">
         <h1>Predict Registration Page</h1>
    </div>

    <form method="POST">
        <div class="row">
            <div class ="col-6">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input class="form-control" name="username" id="username" placeholder="Username" pattern="\w+" required>
                </div>
            </div>
        </div>

        <div class ="row">
            <div class ="col-6">
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input  class="form-control" name="password" id="password" placeholder="Password" pattern="\w{8,}" type="password">
                </div>
            </div>
        </div>
        
        <div class ="row">
            <div class ="col-6">
                <div class="form-group">
                    <label for="confirm_password">Confirm Password:</label>
                    <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirm Password" oninput="arePassAndConfirmIdentical(this)">
                </div>
            </div>
        </div>
            
        <div class ="row">
            <div class ="col-6">
                <button type="submit" onclick="clearPass()" class="btn btn-success btn-lg">Register!</button> 
            </div>
        </div>
    </form>

    <div class ="row">
            <div class ="col-6">
                <a href="{{ url_for('login') }}">Already have an account? Take me to the login page!</a>
            </div>
    </div>

    <div id="bottom-alert">
        {% if userExists %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                An account with the username <b>{{username}}</b> already exists!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>    
            </div>
        {% endif %}
    <div><!--alert row end-->
</div><!--Container-->

{% endblock %}


