{% extends "base.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/cve_query.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/sidebar_base.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sidebar_base.css') }}">
{% endblock %}

{% block body %}
<!-- Actual sidebar -->
<div id="sidebar" class="bg-light">
    <div id="sidebar-controls" class="sidebar-element bg-light">
        <a class="sidebar-control btn btn-outline-dark" role="button" onclick="setSidebarClosedOnPageLoad()" href="{{ url_for("main.dashboard") }}">{{ svg("home") }} Dashboard </a>
        {% if not current_user.is_anonymous %}
            <div class="dropdown sidebar-control">
                <a class="btn btn-outline-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ svg("person") }} {{ current_user.username }}
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" onclick="setSidebarClosedOnPageLoad()" href="{{ url_for("main.conflict_resolution") }}">{{ svg("organization") }} Conflict Resolution</a>
                    <a class="dropdown-item" onclick="setSidebarClosedOnPageLoad()" href="{{ url_for("main.logout") }}">{{ svg("sign-out") }} Log Out </a>
                </div>
            </div>
        {% endif %}
        <a id="sidebar-close" class="sidebar-control btn btn-outline-dark" role="button" onclick="toggleSidebar()"> {{ svg("x") }} </a>
    </div>

    <div id="sidebar-content" class="sidebar-element">
        {% block sidebar_content %}
        {% endblock %}
    </div>

    <form id="sidebar-query" class="sidebar-element bg-light" onsubmit="return goto_cve('sidebar-input', 'sidebar-button')()">
        <div class="input-group">
            <input type="text" id="sidebar-input" class="form-control" placeholder="CVE ID">
            <div class="input-group-append">
                <button id="sidebar-button" class="btn btn-outline-dark" type="submit">
                    Analyze
                </button>
            </div>
        </div>
    </form>
</div>

<a onclick="toggleSidebar()" class="btn btn-outline-dark" id="sidebar-open" role="button"> {{ svg("three-bars") }} </a>

<!-- Dark overlay -->
<div id="overlay" onclick="toggleSidebar()"></div>

<div class="container">
    {% block content %}
    {% endblock %}
</div>
{% endblock %}
