{% extends "sidebar_base.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/sidebar_cve.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/label.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sidebar_cve.css') }}">
{% endblock %}

{% block title %} {% if cve_data is not none %} {{ cve_data["id"] }} {% else %} CVE Not Found {% endif %} {% endblock %}

{% block sidebar_content %}
{% if cve_data is not none %}
<ul class="nav nav-tabs bg-light" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="cve-tab">CVE Info</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="label-tab">Labels</a>
    </li>
</ul>

<div class="tab-content bg-white">
    <div id="cve-info" class="tab-pane active" role="tabpanel" aria-labelledby="CVE-tab">
        <h1>{{ cve_data["id"] }}</h1>

        <p>{{ cve_data["desc"] }}</p>

        <div id="git-link-header">
            <h3>Git Links</h3>
            <button class="btn btn-link" data-toggle="collapse" data-target="#git-missing">Did we miss any?</button>
        </div>

        <form id="git-missing" class="collapse" onsubmit="return goto_commit('{{ cve_data['id'] }}')()">
            <div class="form-group">
                <label for="repo">GitHub Repository Path:</label>
                <input class="form-control" name="repo" id="repo" type="text" placeholder="Username/Repository" required>
            </div>

            <div class="form-group">
                <label for="commit">Commit:</label>
                <input class="form-control" name="commit" id="commit" type="text" placeholder="Commit" required>
            </div>

            <button id="missing-button" type="submit" class="btn btn-outline-dark">Search</button>
        </form>

        <ul>
        {% for normal, converted in cve_data["git_links"] %}
            <li>
                <a href={{ converted }}>
                    {{ normal }}
                </a>
            </li>
        {% endfor %}
        </ul>

        {% if cve_data["normal_links"]|length > 0 %}
            <h3>Other Links</h3>

            <ul>
            {% for link in cve_data["normal_links"] %}
                <li>
                    <a href={{ link }} class="external-link" target="_blank">
                        {{ link }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div id="labels" class="tab-pane" role="tabpanel" aria-labelledby="labels-tab">
        <h1>Current Labels</h1>

        <!-- A hack to make the textboxes resize accurately.-->
        <span id="hidden-text"></span>
        
        <div id="user-labels" data-cve="{{ cve_data['id'] }}">
            {% for (_, repo_user, repo_name), labels in label_groups %}
            <div class="card user-label-group">
                <div class="card-header user-label-group-header">
                    <input type="text" class="hidden-input repo-input repo-user" placeholder="Repository Username" value="{{ repo_user }}">
                    <span class="hidden-input-sep">/</span>
                    <input type="text" class="hidden-input repo-input repo-name" placeholder="Repository Name" value="{{ repo_name }}">
                    <a class="remove-group" onclick="removeGroup(this)"><i class="fas fa-times"></i></a> {# TODO prettier symbol #}
                </div>
                <ul class="list-group list-group-flush user-label-group-list">
                    {% for label in labels %}
                    <li class="list-group-item user-label">
                        <input type="text" class="hidden-input label-input fix-file" placeholder="Fix File" value="{{ label.fix_file }}">
                        <span class="hidden-input-sep">@</span>
                        <input type="text" class="hidden-input limited label-input fix-hash" placeholder="Fix Hash" value="{{ label.fix_hash }}">
                        <span class="hidden-input-sep">←</span>
                        <input type="text" class="hidden-input label-input intro-file" placeholder="Intro File" value="{{ label.intro_file }}">
                        <span class="hidden-input-sep">@</span>
                        <input type="text" class="hidden-input limited label-input intro-hash" placeholder="Intro Hash" value="{{ label.intro_hash }}">
                        {# TODO comment input here #}
                        <a class="remove-label" onclick="removeLabel(this)"><i class="text-danger fas fa-times"></i></a> {# TODO prettier symbol #}
                    </li>
                    {% endfor %}
                </ul>
                <button class="add-label" onclick="addLabel(this)"><i class="fas fa-plus"></i> New Label</button>
            </div>
            {% endfor %}
        </div>
        
        <button class="add-group" onclick="addGroup()"><i class="fas fa-plus"></i> New Group</button>
    </div>
</div>
{% else %}
<h1>CVE Not Found</h1>
{% endif %}
{% endblock %}
