{% extends "sidebar_base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidebar_cve.css') }}">
<script type="text/javascript">
    {% with label = None %}
    var labelElement = $.parseHTML(`{% include "label.html" %}`);
    {% endwith %}

    {% with label_group = None %}
    var labelGroupElement = $.parseHTML(`{% include "label_group.html" %}`);
    {% endwith %}

    var triangleDownSVG = $.parseHTML(`{{ svg("triangle-down") }}`);
    var triangleUpSVG = $.parseHTML(`{{ svg("triangle-up") }}`);

    var currentCVE = "{{ cve_data['cve_id'] }}";
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/sidebar_cve.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/label.js') }}"></script>
{% endblock %}

{% block title %} {% if cve_data is not none %} {{ cve_data["id"] }} {% else %} CVE Not Found {% endif %} {% endblock %}

{% block sidebar_content %}
{% if cve_data is not none %}
<ul class="nav nav-tabs bg-light" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="cve-tab">CVE Info</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="label-tab">Labels</a>
    </li>
</ul>

<div class="tab-content bg-white">
    <div id="cve-info" class="tab-pane active" role="tabpanel" aria-labelledby="CVE-tab">
        <h1>{{ cve_data["id"] }}</h1>

        <p>{{ cve_data["desc"] }}</p>

        <div id="git-link-header">
            <h3>Git Links</h3>
            <button class="btn btn-link" data-toggle="collapse" data-target="#git-missing">Did we miss any?</button>
        </div>

        <form id="git-missing" class="collapse" onsubmit="return missingCommitLink()">
            <div class="form-group">
                <label for="missing-repo">GitHub Repository Path:</label>
                <input class="form-control" name="repo" id="missing-repo" type="text" placeholder="Username/Repository" required>
            </div>
            <div class="form-group">
                <label for="missing-commit">Commit:</label>
                <input class="form-control" name="commit" id="missing-commit" type="text" placeholder="Commit" required>
            </div>
            <button id="missing-button" type="submit" class="btn btn-outline-dark">Search</button>
        </form>

        <ul>
        {% for normal, converted in cve_data["git_links"] %}
            <li>
                <a href={{ converted }}>
                    {{ normal }}
                </a>
            </li>
        {% endfor %}
        </ul>

        {% if cve_data["normal_links"]|length > 0 %}
        <h3>Other Links</h3>

        <ul>
        {% for link in cve_data["normal_links"] %}
            <li>
                <a href={{ link }} class="external-link" target="_blank">
                    {{ link }}
                </a>
            </li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div id="labels" class="tab-pane" role="tabpanel" aria-labelledby="labels-tab">
        <div id="label-header">
            <h1>Current Labels</h1>
            <span id="update-status"></span>
        </div>

        <!-- A hack to make the textboxes resize accurately.-->
        <span id="hidden-text"></span>
        
        <div id="user-labels" data-cve="{{ cve_data['id'] }}">
            {% for (_, repo_user, repo_name), labels in label_groups %}
                {% include "label_group.html" %}
            {% endfor %}
        </div>
        
        <button class="add-group" onclick="addGroupWithLabel()">{{ svg("plus") }} New Group</button>
    </div>
</div>
{% else %}
<h1>CVE Not Found</h1>
{% endif %}
{% endblock %}
