<!--TODO: Figure out a way to make this sidebar appear on every HTML page that an authenticated user visits.-->

<!DOCTYPE html>

<head>
    <title>Persistant Sidebar</title>
    <!-- Bootstrap CSS. There's the complication of if any of the bootstrap sites hosting this formatting go down, then our web page will have no CSS. Would probably want to download the bootstrap
    files and then keep them server side. -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class = "jumbotron">
        <h1>Persistant Sidebar Example Page</h1>
    </div>

</body>