#main-query {
    padding: 1rem;
}

#cve-tools {
    padding: 1rem;
}

#review-cards {
    overflow-y: auto;
    overflow-x: hidden;
    height: 33rem; /* TODO make this more dynamic */
}

.review-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.review-card {
    margin: 1rem;
}

.review-cve-link {
    color: black;
}

.review-label-link {
    color: black;
}
