#main-query {
    padding: 1rem;
}

#cve-tools {
    padding: 1rem;
}

#review-cards {
    overflow-y: auto;
    overflow-x: hidden;
    height: 33rem; /* TODO make this more dynamic */
}

.review-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.review-card {
    margin: 1rem;
}

.review-label {
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}

.review-cve-link {
    color: inherit;
    font-size: 16px;
}

.review-label-link {
    color: inherit;
}
