#commit-info {
    width: 100%;

    padding: 0.5rem 1rem 1rem 1rem;

    background: #eaf5ff;

    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

#commit-title {
    white-space: pre-wrap;
    font-size: 18px;
    font-weight: 600;

    margin-bottom: 1rem;
}

#commit-description {
    white-space: pre-wrap;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;

    margin-bottom: 1rem;
}

#commit-metadata {
    display: flex;
    width: 100%;
    justify-content: space-between;

    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
}

.file {
    margin: 1rem 0 1rem 0;
    width: 100%;
}

.file-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.file-name {
    position: relative; /* Hacky */
    top: 0.2rem;

    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    
    color: black;
    text-decoration: none;
}

.file-controls {
    display: flex;
}

.file-btn {
    text-align: center;
    padding: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    border: none;
    border-radius: 0.25rem;

    min-width: 2rem;

    cursor: pointer;
}

.file-btn:hover {
    background-color: lightgray;
}

.diff-container {
    padding: 0;
    overflow-x: auto;
}

.diff-error {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}