.nav-link {
    cursor: pointer;
}

.tab-content {
    padding: 1rem;
}

#git-link-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#git-missing {
    margin-bottom: 0.5rem;
}

#label-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#update-status {
    display: none;
}

#user-labels {
    margin-bottom: 1rem;
}

.user-label-group-header {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.user-label-group + .user-label-group {
    margin-top: 1rem;
}

.user-label {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.remove-group {
    margin-left: auto;
}

.label-main {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.label-inputs {
    display: flex;
    overflow-x: auto;
}

.label-controls {
    display: flex;
}

.additional-data, .remove-label, .remove-group {
    min-width: 2rem;
    border-radius: 0.25rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.additional-data:hover, .remove-label:hover, .remove-group:hover{
    background: lightgray;
}

.add-label {
    padding: 0.5rem;
    border: none;

    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;

    background: transparent;
}

.add-label:hover {
    color: white;
    background: slateblue;
}

.add-group {
    width: 100%;
    padding: 0.5rem;
    border: none;

    border-radius: 0.25rem;

    background: transparent;
}

.add-group:hover {
    color: white;
    background: lightseagreen;
}

.additional-data-inputs {
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.comments {
    width: 100%;
    height: 3rem;
}

.external-link:after {
    content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
}

/* Hacks to get the textboxes to look like normal text below this line */ 

#hidden-text {
    margin: 0;
    padding: 0;
    font: inherit;
    position: absolute;
    height: 0;
    overflow: hidden;
    white-space: pre;

    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

input.hidden-input {
    background-color: white;
    border-color: black;

    border-width: 1px;
    border-style: solid;
    border-radius: 5px;

    max-width: 10rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.hidden-input-sep {
    text-indent: 0;
    display: flex;
    align-items: center;

    line-height: 0;

    margin: 0.2rem;
}
